<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>ECOM{% if title %} | {{title}}{%endif%}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');

    function getCookie(name) {
        var cookieArr = document.cookie.split(';');

        for(var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");
            if(name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null;
    }
    var cart = JSON.parse(getCookie('cart'))
    if(cart==undefined) {
        cart = {}
        console.log("Cart created",cart)
        document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/"
    }
    console.log("Cart:",cart)
    </script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'store' %}">Ecom</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'store' %}">Store<span class="sr-only">(current)</span></a>
          </li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for c in cats %}
                    <a class="dropdown-item" href="{{c.get_absolute_url}}">{{c.name}}</a>
                  {% endfor %}
              </div>
            </div>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <a href="{% url 'register' %}" class="btn btn-warning">Register</a> | <a href="{% url 'login' %}" class="btn btn-warning">Login</a>

	     	<a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'images/cart.png' %}">
	    	</a>
	    	<p id="cart-total">{{cartItems}}</p>

	    </div>
      </div>
</nav>

    <div class="container">
        {% block content %}
        {% endblock content %}
        <div class="demo">
            {% if page_obj.has_other_pages %}
            <nav class="pagination-outer" aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page={{page_obj.previous_page_number }}" class="page-link">«</a>
                        </li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="page-item active"><a class="page-link" href="#">{{ p }}</a></li>
                        {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}

                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{page_obj.next_page_number }}" class="page-link">«</a>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>